<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <h1>Hello! my name is {{ name }}</h1>
    
    <img src="http://www.about.tarung2017.com/foto/834.jpg" alt="My image">
    
    <article>My NPM is {{ npm }}</article>
    <article>I am {{ age }} years old</article>
    <article>I major in {{ major }} in {{ uni }}</article>
    <article>My hobby is {{ hobby }}</article>
    <article>About myself: {{ desc }}</article>
</body>
</html>
